<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="debugServices" type="PT_BS_Service.Client.Framework.DebugServiceSection, PT_BS_Service.Client.Framework" />
  </configSections>
  <debugServices>
    <Service Name="I_CO_IA_ActivityManage" Debug="false" IP="192.168.3.129" Port="8733" />
    <Service Name="I_CO_IA_Task" Debug="false" IP="192.168.3.131" Port="8733" />
    <Service Name="I_CO_IA_Collection" Debug="false" IP="192.168.3.78" Port="8740" />
  </debugServices>
</configuration>